body{
    text-align: center;
}

#bigBox{
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 200px;
    background-color: rgb(1, 12, 8);
    border: 100px solid rgb(44, 12, 12);
}
#ortaBox{
    background-color: rgb(51, 107, 107);
    padding-top: 10px;
    padding-bottom: 10px;

}
h1{
    font-size: bolder;
    color: white;
    padding-top: 10px;
}
p{
    color: white;
}