body{
    text-align: center;
}

#bigBox{
    margin: 500px;
    background-color: rgb(1, 12, 8);
}
#ortaBox{
    background-color: darkslategrey;
    margin: 100px;
}
h1{
    font-size: bolder;
    color: white;
    padding-top: 10px;
}
p{
    color: white;
}